<div th:fragment="Tips">
    <!-- alert -->
    <div class="am-modal am-modal-alert" id="alert-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd alert-modal-title"></div>
            <div class="am-modal-bd alert-modal-message"> </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn alert-modal-button"></span>
            </div>
        </div>
    </div>
    <!-- alert -->


    <!-- loading -->
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="loading-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在载入...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
    <!-- loading -->
</div>
